extends layout

block content
  h1= title
  p Welcome to #{title}
  form(
    action="/"
    method="get"
  )
    fieldset
      p url:
      input(
        type='url'
        value=url
        name='url'
      )
      input(
        type='submit'
        value='Submit'
      )
      if tiny
        h2 tiny: #{tiny}
