extends layout

block content
  h1 FreeCodeCamp API Projects: URL Shortener Microservice
  form(
    action="/"
    method="get"
  )
    fieldset
      h3 url:
      input(
        type='url'
        value=url
        name='url'
      )
      input(
        type='submit'
        value='Submit'
      )
      h3 tiny: 
      if tiny
          h1 
            a(href=tiny) #{tiny}
  h2 Exemple creation usage:
  pre
    code #{server + '/tiny/http\%3A\%2F%2Fnaga.no'}
  br
  h2 Example creation output
  pre
    code #{'{ "url": "http://naga.no", "tiny": "' + server +'/S1EJFNgsb" }'}
  br
  h2 Usage:
  pre
    code #{server +'/S1EJFNgsb'}
  br
  h2 Will redirect to:
  pre
    code #{'http://naga.no'}

  br
  hr
  div
    p by Christian Pujol 
      a(href="mailto://pujolchr@gmail.com?subject=[tinyme]") #{'pujolchr@gmail.com'}
            br
                p the code is on GitHub 
                      a(href="https://github.com/pujolchr/fCC-tiny") #{'https://github.com/pujolchr/fCC-tiny'}
